<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCU4Ri8MWI1dp1dBdiypJKYMuHDPF2BskM</string>
	<key>GCM_SENDER_ID</key>
	<string>604952550983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.routine</string>
	<key>PROJECT_ID</key>
	<string>routine-3fd98</string>
	<key>STORAGE_BUCKET</key>
	<string>routine-3fd98.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604952550983:ios:a7cfd81694ad0b93aa9b62</string>
</dict>
</plist>